<style type="text/css">

.sidebar-nav-fixed {
     position:fixed;
     top:200px;
     left: 0px;
     width:100px;
 }

 @media (min-width: 768px) { 
  .sb-fixed{
    position: fixed;
  } 
}

 @media (max-width: 767px) {
     .sidebar-nav-fixed {
         width:auto;
     }
 }

 @media (max-width: 979px) {
     .sidebar-nav-fixed {
         position:static;
        width: auto;
     }
 }
</style>