<!DOCTYPE html>
<html lang="zh-CN" xmlns:wb="http://open.weibo.com/wb">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="wb:webmaster" content="36bb3c48dfec3818" />
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/assets/css/jquery-ui-custom.css" rel="stylesheet">
    <link href="/assets/css/ui.jqgrid.css" rel="stylesheet">
    <link href="/assets/css/ozyeego.css" rel="stylesheet">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="//underscorejs.org/underscore-min.js"></script>
    <script src="//tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/grid.locale-cn.js"></script>
    <script src="/assets/js/jquery.jqGrid.js"></script>
    <script src="/assets/js/ozyeego.js"></script>

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>

    <div class="container">
      <div id="widget" class="pull-right">
        <wb:follow-button uid="3397778794" type="gray_3" width="100%" height="24" ></wb:follow-button>
        <span><a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=%E6%BE%B3%E6%B4%B2%E6%98%93%E8%B4%AD&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=%E6%BE%B3%E6%B4%B2%E6%98%93%E8%B4%AD&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a></span>
      </div>

      <div class="masthead">
        <!-- {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %} -->
        <h3 class="muted">
          <img src="/assets/images/logo.png" />
          <span id="title-tag">澳洲易购</span>
        </h3>

        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                {% for weight in (1..10) %}
                  {% for p in site.pages %}
                    {% if p.weight == weight %}
                      <li {% if p.url == page.url %}class="active"{% endif %}>
                        <a href="{{ p.url }}">
                          {{ p.title }}
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      {{ content }}

      <hr>

      <div class="footer">
        <p>&copy; <a href="http://www.ozyeego.com" title="澳洲易购">澳洲易购</a> 2013
        </p>
      </div>

    </div> <!-- /container -->

    {% include JB/analytics %}
  </body>
</html>
